<ul style="margin:0px;">
{% for cc in test_run.cc.select_related.all %}
<li>
	<a href="mailto:{{ cc.email }}">{{ cc.email }}</a>
	{% if perms.testruns.delete_testruncc %}
	<a href="javascript:void(0)" onclick="removeRunCC({{ test_run.run_id }}, '{{ cc.username }}', this.up(1))"><img src="{{ MEDIA_URL }}/images/remove_small.png" width="9" height="9" title="remove this tag" /></a>
	{% endif %}
</li>
{% empty %}
</ul>
<!--<span class="grey">No CC.</span>-->
{% endfor %}

<div><a class="addlink" href="javascript:void(0)" onclick="addRunCC({{ test_run.run_id }}, this.up(1))">Add CC</a></div>

{% if message %}
	<div id="message" class="hidden">{{ message }}</div>
{% endif %}
