<div class="mixbar">
	<div class="marginLeft fixed">
		<input class="edit_node icon_plan left_float" type="button" value="Change parent node for plan {{ test_plan.pk }}" onclick="changePlanParent(this.up(2), {{ test_plan.pk }})" />
		<input class="add_node icon_plan left_float" type="button" value="Add child node to current plan {{ test_plan.pk }}" onclick="addPlanChildren(this.up(2), {{ test_plan.pk }})" />
            {% if test_plan.child_set.count %}
		<input class="remove_node icon_plan left_float" type="button" value="Remove child node from current plan {{ test_plan.pk }}" onclick="removePlanChildren(this.up(2), {{ test_plan.pk }})" />
            {% endif %}

	</div>
	<div class="treeview_toolbar_text">
		Only displayed following items in the tree
		<ul>
			<li>Current plan</li>
			<li>One level parent plan</li>
			<li>The plans with same parent</li>
			<li>One level children plans</li>
		</ul>
	</div>
</div>

<div id="id_tree_container">
	<div class="ajax_loading"></div>
</div>
